# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: write

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install BeautifulSoup4
        pip install -r requirements.txt
    - name: Run Python script
        # 关键步骤：将 GitHub Secrets 映射到环境变量
      env:
          # PY_API_KEY 是您的 Python 脚本将要读取的环境变量名称
          # secrets.API_KEY 是您在步骤二中设置的 GitHub Secret 名称
          agent_url: ${{ secrets.agent_url }}
      run: |
          python main.py # 运行您的主程序
