# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: write

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install BeautifulSoup4
        pip install -r requirements.txt
    - name : debug
      run : |
        ls -R
    - name: Run Python script
        
      env:
          agent_url: ${{ secrets.agent_url }}
      run: |
          python main.py # 运行您的主程序
    - name: Commit and Push to master
      run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add data.yml output.png
          
          if git diff --staged --quiet; then
            echo "No changes detected, skipping commit."
          else

            # 添加 [skip ci] 来防止 workflow 循环触发
            git commit -m "Automated data update: $(date) [skip ci]"
            
            git push origin master
            echo "Changes pushed to master branch."
          fi
